<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "bby261.senemyildirim.sozluk"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- Standart Uygulama Verileri -->

    <name>Sözlük Uygulaması</name>

    <description>
        Burası yazılım ile ilgili kısa bir özet içerecek...
    </description>

    <author href="https://senemyildirimblog.wordpress.com/" email="senem35yildirim@gmail.com">
       Senem Yıldırım
    </author>
        
    <!-- Derleme Platformu -->
        
    <gap:platform name="android" />
        
    <!-- Ek Özellikler -->

    <!-- <preference name="orientation" value="landscape" /> -->
    <preference name="fullscreen" value="false" />
        
    <!-- Açılış Ekranı ve İkon -->
     
    <icon src="icon.png" />
    <gap:splash src="splash.png" />
    <preference name="splash-screen-duration" value="2000"/>
        
    <!-- Uygulama Hakları -->
    
    <preference name="permissions" value="none"/>
        
</widget>